* {
  color: white;
}

#root {
  /* max-width: auto; */
  margin: 0 auto;
  /* padding: 2rem; */
}

body {
  background-color: black;
}

em {
  color: pink;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Optional: Center horizontally within a larger container */
}

.profile-image {
  border-radius: 50%; /* Make the image circular if desired */
  display: block;    /* Ensure it behaves as a block-level element for better alignment */
}

.experience-entry {
  margin: 4rem;
}
